<div class="about-us">
  <div class="about-us__inner">
    <div class="about-us__head">
      <h2 class="about-us__title">20 лет на рынке бьюти индустрии — каждый элемент салона проверен временем</h2>
      <p class="about-us__text">В Angel Concept работают сертифицированные косметологи, врачи и мастера телесных практик с опытом от 15 до 21 года. Мы соединяем высокую косметологию, SPA и атмосферу настоящего уюта</p>
    </div>
    <p class="about-us__subtitle">С 1995 года мы помогаем женщинам чувствовать себя собранно, уверенно и достойно — изнутри и снаружи.</p>
    <div class="about-us__body">
      <a class="about-us__link" href="#">Подробнее о нас
        <svg class="about-us__link-icon">
          <use href="img/sprite.svg#arrow-diagonal"></use>
        </svg>
      </a>
      <div class="about-us__numbers">
        <div class="about-us__numbers-item">
          <p class="about-us__number">20+ лет</p>
          <p class="about-us__number-text">На рынке бьюти индустрии</p>
        </div>
        <div class="about-us__numbers-item">
          <p class="about-us__number">10+ лет</p>
          <p class="about-us__number-text">Опыт врачей и мастеров с медобразованием</p>
        </div>
        <div class="about-us__numbers-item">
          <p class="about-us__number">1000+</p>
          <p class="about-us__number-text">Благодарных отзывов</p>
        </div>
        <div class="about-us__numbers-item">
          <p class="about-us__number">с 2005 г.</p>
          <p class="about-us__number-text">Медицинская лицензия</p>
        </div>
      </div>
    </div>
  </div>
</div>
